// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 62px;
$gutter-width           : 15px;
$side-gutter-width      : 30px;

$show-grid-backgrounds  : true;