<div class="wrapper pad_bot1">
  <h2>Our Vision</h2>
  <div class="wrapper pad_bot1">
    <figure class="left marg_right1 border">
      <span class="photo">
        <img src="/images/photos/shiatsu.jpg" alt="">
        <span class="overlay overlay-large"></span>
      </span>
    </figure>
    <h4>Massage My Way</h4>
    <p>
      was created to give people access to on site and on demand massage therapy keeping in mind these key elements -  providing the highest quality massage and keeping it affordable. We know that when you want a massage it has to be detailed, knowledgeable, effective, and attentive to your needs.
    </p>
    <p>
      We only employ the best and brightest therapists in the trade. We also provide on going training to make sure they stay at the top of the field. You can rest assured you will receive the highest quality of care.
    </p>
  </div>
</div>
<div class="under">
</div>
<div class="wrapper pad_bot1">
  <h2>what we offer</h2>
  <div class="wrapper pad_bot1">
    <ul class="list1 col1">
      <li>
        <a href="#">Swedish Massage</a>
      </li>
      <li>
        <a href="#">Deep Tissue</a>
      </li>
      <li>
        <a href="#">Shiats</a>u
      </li>
      <li>
        <a href="#">Sports Massage</a>
      </li>
    </ul>
    <ul class="list1 col1 pad_left1">
      <li>
        <a href="#">Reflexology</a>
      </li>
      <li>
        <a href="#">Craniosacral Therapy</a>
      </li>
      <li>
        <a href="#">Dry Body Scrub</a>
      </li>
      <li>
        <a href="#">Thai Massage</a>
      </li>
    </ul>
    <ul class="list1 col1 pad_left1">
      <li>
        <a href="#">Couples Massage</a>
      </li>
      <li>
        <a href="#">Lymphatic Massage</a>
      </li>
      <li>
        <a href="#">Chair Massage</a>
      </li>
      <li>
        <a href="#">Combo Massage</a>
      </li>
    </ul>
  </div>
  <a href="/services/" class="link1">View all Services</a>
</div>
<div class="under">
</div>
<div class="wrapper pad_bot1">
  <h2>Service Areas</h2>
  <p>
    We currently serve the westside in the following areas:
    <strong>West Hollywood</strong>,
    <strong>Beverly Hills</strong>,
    <strong>Santa Monica</strong>,
    <strong>Westwood</strong>,
    <strong>West LA</strong>,
    <strong>Brentwood</strong>,
    <strong>Venice</strong>,
    <strong>Marina Del-Rey</strong>,
    <strong>Playa Del Rey</strong>, and
    <strong>Manhattan Beach</strong>.
  </p>
  <a href="/booking/" class="link1">Booking With Us</a>
</div>
