<div class="layout half clearfix">
  <div class="col first">

    <div class="figure border">
      <span class="photo">
        <%= image_tag "photos/booking1.jpg" %>
        <span class="overlay">
        </span>
    </div>
    <h2>Packages &amp; Pricing</h2>
    <p>
      To receive the benefits of our low price offerings choose from one of the following package deals
    </p>
    <p>
      60 min. massage $95
      <br>
      Package of 3 one hour massages $255
      <small>
        (a savings of $10 per massage)
      </small>
      <br>
      Package of 6 one hour massages $450
      <small>
        (a savings of $20 per massage)
      </small>
      <br>
    </p>
    <p>
      90 min. massage $140
      <br>
      Package of 3 90min. massages $375
      <small>
        (a savings of $15 per massage)
      </small>
      <br>
      Package of 6 90min. massages $660
      <small>
        (a savings of $30 per massage)
      </small>
      <br>
    </p>
    <p>
      In addition to personalized massage sessions, we offer event and chair massage. Call to inquire.
    </p>
  </div>
  <div class="col second">
    <h3>To Help You On Your Healing Path</h3>
    <div class="promo">
      <p>
        First time client discount
        <br>
        You pay only $77 for a one hour massage
      </p>
      <%= link_to "Book Online Now", new_booking_path, :class => "button", :rel =>"modal" %>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="figure border">
      <span class="photo">
        <%= image_tag "photos/booking2.jpg" %>
        <span class="overlay">
        </span>
    </div>
  </div>
</div>
<%= render "book" %>
