<div class="wrapper">
              <h2>Packages &amp; Pricing</h2>
                <p>To receive the benefits of our low price offerings choose from one of the following package deals</p>
<p>
60 min. massage $95<br>
Package of 3 one hour massages $255 <small>(a savings of $10 per massage)</small><br>
Package of 6 one hour massages $450 <small>(a savings of $20 per massage)</small><br>
</p>
<p>
90 min. massage $140<br>
Package of 3 90min. massages $375 <small>(a savings of $15 per massage)</small><br>
Package of 6 90min. massages $660 <small>(a savings of $30 per massage)</small><br>
</p>
<p class="promo">First time client discount<br>You pay only $77 for a one hour massage</p>

<p>In addition to personalized massage sessions, we offer event and chair massage. Call to inquire.</p>
              
            </div>
            <div class="under"></div>
          
            <div class="wrapper">
              <h2>Our Policies</h2>
<p><strong>Individual Services</strong><br>
Same day cancellations are non-refundable. Advance reservations must be canceled 24 hours in advance or client will be charged in full.</p>

<p><strong>Event and Group Services</strong><br>
A non-refundable deposit is required to reserve your event date. The balance is due on the day of the event. 72 hours notice of cancellation is required so that no additional charges are incurred. The non-refundable deposit can be applied to another date/event held within three months of original event date.</p>

<p><strong>Payment Options</strong><br>
We accept Visa, MC, American Express, Discover, Debit cards and checks (we must receive the check two weeks prior to the event). Gratuities can be paid in cash or added to the credit card.</p>

<p><strong>Additional Charges for Long Distance Travel and After-Hours Bookings</strong><br>
There is a $25 surcharge for services requested before 9am or starting at 9pm and for travel
outside our standard area.</p>

<p><strong>Waiting Fees</strong><br>
We give a 15 minute grace period then charge $25 for every 15 minutes the technician is kept waiting.</p>

<p><strong>Note:</strong><br>
Our spa technicians can refuse services if there are any contraindications, medical conditions that were not disclosed at time of reservation (example: broken skin or lesions) or if the client exhibits inappropriate conduct.</p>

            </div>