<figure class="clearfix"><%= image_tag "photos/composition.jpg" %></figure>
<div class="layout fourths clearfix pad-top">
  <div class="first">
    <figure><%= image_tag "photos/contact1.jpg" %></figure>
  </div>
  <div class="second">
    <!--<p><strong>We are ready to take your massage request.</strong></p>-->
    <h3>Massage My Way</h3>
    <p>
    Phone: (310) 309-7814
    <br>
    Email: <a rel="modal" href="/bookings/new">Contact Us</a>
    <p>
      In addition to personalized massage sessions, we offer event and chair massage. Call to inquire.
    </p>
    <p>
      We currently serves the Los Angeles westside in the following areas:
    </p>
    <p>
      <strong>West Hollywood</strong>,
      <strong>Beverly Hills</strong>,
      <strong>Santa Monica</strong>,
      <strong>Westwood</strong>,
      <strong>West LA</strong>,
      <strong>Brentwood</strong>,
      <strong>Venice</strong>,
      <strong>Marina Del-Rey</strong>,
      <strong>Playa Del Rey</strong>, and
      <strong>Manhattan Beach</strong>.
    </p>
  </div>
  <div class="fourth">
    <figure><%= image_tag "photos/contact2.jpg" %></figure>
  </div>
</div>
<%= render 'book' %>
