<div id="welcome">
  <h2>
  <span>Massage My Way</span> mobile massage services
  <br>
  The massage that comes to you
  </h2>
  <div class="under">
  </div>
  <figure>
    <img src="/images/page1_img1.jpg" alt="">
  </figure>
</div>
<div class="wrapper pad_bot1">
  <h2>Featured Services</h2>
  <div class="wrapper pad_bot1">
    <article class="cols marg_right1">
      <div class="box2">
        <div class="pad">
          <figure class="left marg_right1">
            <span class="photo crop">
              <img src="/images/photos/deep_tissue.jpg" alt="">
              <span class="overlay"></span>
            </span>
          </figure>
          <div class="pad">
            <strong>Deep Tissue</strong>
          </div>
        </div>
      </div>
    </article>
    <article class="cols marg_right1">
      <div class="box2">
        <div class="pad">
          <figure class="left marg_right1">
            <span class="photo crop">
              <img src="/images/photos/shiatsu.jpg" alt="">
              <span class="overlay"></span>
            </span>
          </figure>
          <div class="pad">
            <strong>Shiatsu</strong>
          </div>
        </div>
      </div>
    </article>
    <article class="cols marg_right1">
      <div class="box2">
        <div class="pad">
          <figure class="left marg_right1">
            <span class="photo crop">
              <img src="/images/photos/sports.jpg" alt="">
              <span class="overlay"></span>
            </span>
          </figure>
          <div class="pad">
            <strong>Sports Massage</strong>
          </div>
        </div>
      </div>
    </article>
    <article class="cols marg_right1">
      <div class="box2">
        <div class="pad">
          <figure class="left marg_right1">
            <span class="photo crop">
              <img src="/images/photos/craniosacral.jpg" alt="">
              <span class="overlay"></span>
            </span>
          </figure>
          <div class="pad">
            <strong>Craniosacral</strong>
          </div>
        </div>
      </div>
    </article>
    <article class="cols">
      <div class="box2">
        <div class="pad">
          <figure class="left marg_right1">
            <span class="photo crop">
              <img src="/images/photos/thai_massage.jpg" alt="">
              <span class="overlay"></span>
            </span>
          </figure>
          <div class="pad">
            <strong>Thai Massage</strong>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!--<a href="/services/" class="link1">View all Services</a>-->
</div>
<div class="under">
</div>
<div class="wrapper">
  <h2>About Us</h2>
  <p>
    <strong>Massage My Way</strong> was created to give people access to on site and on demand massage therapy keeping in mind these key elements - providing the highest quality massage and keeping it affordable. We know that when you want a massage it has to be detailed, knowledgeable, effective, and attentive to your needs.
  </p>
  <div class="wrapper pad_bot1">
    <article class="col1">
      <h3>Massage Your Way</h3>
      <p>
        Choose from a variety of massage modalities to address your specific needs or request your own.
      </p>
      <a href="/services/" class="link1">View Our Services &raquo;</a>
    </article>
    <article class="col1 pad_left1">
      <h3>Quality Therapists</h3>
      <p>
        We only employ the best and brightest therapists in the trade and provide ongoing training to make sure they stay at the top of the field.
      </p>
      <a href="/therapists/" class="link1">View Our Therapists &raquo;</a>
    </article>
    <article class="col1 pad_left1">
      <h3>Affordable</h3>
      <p>
        Take advantage of our low price offerings or choose from one of our package deals.
      </p>
      <a href="/booking/" class="link1">View Pricing &amp; Packages &raquo;</a>
    </article>
  </div>
</div>