<h2>Our Policies</h2>
    <p>
      <strong>Individual Services</strong>
      <br>
      Same day cancellations are non-refundable. Advance reservations must be canceled 24 hours in advance or client will be charged in full.
    </p>
    <p>
      <strong>Event and Group Services</strong>
      <br>
      A non-refundable deposit is required to reserve your event date. The balance is due on the day of the event. 72 hours notice of cancellation is required so that no additional charges are incurred. The non-refundable deposit can be applied to another date/event held within three months of original event date.
    </p>
    <div class="figure border left">
      <span class="photo">
        <%= image_tag "photos/policies.jpg" %>
        <span class="overlay overlay-tall">
        </span>
    </div>
    <p>
      <strong>Payment Options</strong>
      <br>
      We accept Visa, MC, American Express, Discover, Debit cards and checks (we must receive the check two weeks prior to the event). Gratuities can be paid in cash or added to the credit card.
    </p>
    <p>
      <strong>Additional Charges for Long Distance Travel and After-Hours Bookings</strong>
      <br>
      There is a $25 surcharge for services requested before 9am or starting at 9pm and for travel
      outside our standard area.
    </p>
    <p>
      <strong>Waiting Fees</strong>
      <br>
      We give a 15 minute grace period then charge $25 for every 15 minutes the technician is kept waiting.
    </p>
    <p>
      <strong>Note:</strong>
      <br>
      Our spa technicians can refuse services if there are any contraindications, medical conditions that were not disclosed at time of reservation (example: broken skin or lesions) or if the client exhibits inappropriate conduct.
    </p>

<%= render 'book' %>