<div class="wrapper pad_bot1">
  <h2>Menu of Services</h2>
  <figure class="left marg_right1">
    <img src="/images/page5_img1.jpg" alt="">
  </figure>
  <h4>Swedish Massage</h4>
  <p>
    consists of long gliding techniques with gentle kneading to your shoulders and large muscle groups. Swedish Massage improves your health, immune system and all organ systems for optimal wellness.
  </p>
</div>
<div class="wrapper">
  <figure class="left marg_right1">
    <img src="/images/page5_img2.jpg" alt="">
  </figure>
  <h4>Deep Tissue</h4>
  <p>
    focuses on realigning the deeper layers of muscle and fascia, also called connective tissue. the therapist works to release chronic muscle tension or knots.
  </p>
</div>