<div class="wrapper pad_bot1">
  <h2>Menu of Services</h2>
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/swedish.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Swedish Massage</h4>
  <p>
    consists of long gliding techniques with gentle kneading to your shoulders and large muscle groups. Swedish Massage improves your health, immune system and all organ systems for optimal wellness.
  </p>
</div>
<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/deep_tissue.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Deep Tissue</h4>
  <p>
    focuses on realigning the deeper layers of muscle and fascia, also called connective tissue. the therapist works to release chronic muscle tension or knots.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/shiatsu.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Shiatsu</h4>
  <p>
     is a traditional form of Asian bodywork designed to enhance and restore health. Through the application of pressure and stretching techniques shiatsu relieves muscle tension, eases joint stiffness and realigns the structure of the body.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/sports.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Sports Massage</h4>
  <p>
    is a special form of massage and is typically used before, during, and after athletic events. The purpose of the massage is to prepare the athlete for peak performance, to drain away fatigue, to relieve swelling, to reduce muscle tension, to promote flexibility and to prevent injuries.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/reflexology.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Reflexology</h4>
  <p>
    is based on the premise that each organ or part of the body is represented on the hands, feet & ears so that when your therapist applies pressure it stimulates the flow of energy, blood, nutrients, and nerve impulses to the corresponding organ or body part.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/craniosacral.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Craniosacral Therapy</h4>
  <p>
    is a gentle approach that works to alleviate a range of sensory, motor or neurological disorders.  Your therapist listens to this system and assists the body in releasing restrictions which it had been unable to overcome on its own.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/dry_brush.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Dry Body Scrub</h4>
  <p>
    is a cleansing where your therapist will dry brush your body in circular movements, removing layers of dead skin. It will conclude with a 30, 60 or 90-minute massage depending on your preference. (Note: This is an add on treatment $10)
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/thai_massage.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Thai Massage</h4>
  <p>
    is also called Thai yoga massage, because the therapist uses his or her hands, knees, legs, and feet to move you into a series of yoga-like stretches. People who try Thai massage sometimes say it is like doing yoga without any work, and say that it's both relaxing and energizing.
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/hot_stone.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Hot Stone Massage</h4>
  <p>
    is a variation on classic massage therapy. Heated smooth, flat stones are placed on key points on the body. The massage therapist may also hold the stones and use them to massage certain areas of the body. (Note: this is an add on treatment $15) 
  </p>
</div>

<div class="wrapper pad_bot1">
  <figure class="left marg_right1 border">
    <span class="photo">
      <img src="/images/photos/couples.jpg" alt="">
      <span class="overlay overlay-large"></span>
    </span>
  </figure>
  <h4>Couples Massage</h4>
  <p>
    is a wonderful way to spend quality time with a friend, partner, lover or spouse. Each of you will receive a massage that is specifically catered to your needs. You will have your own therapist and will receive your sessions simultaneously on side by side massage tables.
  </p>
</div>