<div class="wrapper pad_bot1">
  <h2>Our Therapists</h2>
  <figure class="left marg_right1">
    <img src="/images/page5_img1.jpg" alt="">
  </figure>
  <h4>Dov Gellis</h4>
  <p>
    blah blah blah
  </p>
</div>
<div class="wrapper">
  <figure class="left marg_right1">
    <img src="/images/page5_img2.jpg" alt="">
  </figure>
  <h4>Someone Else</h4>
  <p>
    blah blah.
  </p>
</div>